.n {
  width: 100%;
  padding: 36px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

.n--logo {
  height: 28px;
}

.n--page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex: 1;
}

.n--page {
  margin-left: 16px;

  padding: 16px 12px;
  font-weight: 700;
  font-size: 14px;

  cursor: pointer;
}

.n--page-selected {
  background: #fff;
}

.n--address {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.n--address--points {
  background: #d5d5d5;
}

.n--address--qr {
  margin-left: 12px;

  background: #d5d5d5;
  padding: 6px;
  height: 20px;
  border-radius: 20px;
}

.n--address--wallet {
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px;
}

/* Mobile Phone CSS */
@media screen and (max-width: 480px) {
  .n {
    padding: 36px 12px 0px 12px;
    flex-direction: column;
  }

  .n--logo {
    height: 24px;
  }

  .n--page {
    margin-top: 12px;
    padding: 12px 8px;

    text-align: center;
  }

  .n--address {
    margin-top: 12px;
  }
}
