.d--page-base {
  margin: auto;
  width: 100vw;
  height: auto;

  background: #0f162a;
}

.d--page-top {
  background: url('../../images/dashboardBackground.svg');
  background-position: bottom;
  background-size: cover;

  padding-top: 48px;
  padding-bottom: 150px;
}

.d--page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: space-between;

  margin-bottom: 24px;
  padding-left: 36px;
  padding-right: 36px;
}

.d--header-logo {
  height: 36px;
}

.d--header-title {
  height: 24px;
  margin-left: 72px;
  margin-bottom: 4px;
}

.d--header-subtitle {
  height: 24px;
  margin-left: 24px;
  margin-bottom: 4px;
}

.d--header-search {
  display: flex;
  flex-direction: row;
  margin: auto;

  width: 30vw;
}

.d--title-container {
  margin: auto;
  margin-top: 72px;

  display: flex;
  flex-direction: row;

  width: 80vw;
}

.d--title {
  margin: auto;
  margin-left: 0;
  text-align: left;

  color: #f4ddb5;
  font-family: 'DM Mono', monospace;
  font-size: 32px;
  font-weight: lighter;
}

.d--subtitle {
  margin-top: 16px;

  color: #f4ddb5;
  font-family: 'DM Mono', monospace;
  font-size: 30px;
}

.d--caption {
  color: #f4ddb5;
  font-family: 'DM Mono', monospace;
  font-size: 14px;
}

.d--grid {
  margin: 48px auto 48px auto;
  width: 80vw;
}

.d--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #060a14;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;

  box-sizing: border-box;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.d--card--tag {
  margin-top: 16px;
  margin-right: 4px;
  align-self: flex-end;
  background: #01070e;

  border-radius: 24px;
  padding: 8px 20px;

  color: white;
  font-weight: 700;
  font-size: 14px;
}

.d--card--title {
  margin-bottom: 0px;

  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.d--card--body {
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.d--icon {
  width: 8px;
  height: 8px;
  border-radius: 8px;

  margin-right: 12px;
}

.d--row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.d--col {
  display: flex;
  flex-direction: column;
}

.d--desktop {
  display: flex;
}

.d--mobile {
  display: none;
}

/* Tablet CSS */
@media screen and (max-width: 1024px) {
  .d--header-title {
    margin-left: 36px;
    margin-bottom: -4px;
    height: 20px;
  }

  .d--header-subtitle {
    margin-left: 12px;
    margin-bottom: -4px;
    height: 20px;
  }

  .d--header-search {
    width: auto;
  }

  .d--title {
    font-size: 24px;
  }

  .d--subtitle {
    font-size: 24px;
  }

  .d--caption {
    margin-top: 0px;
  }
}

/* Mobile Phone CSS */
@media screen and (max-width: 480px) {
  .d--desktop {
    display: none;
  }

  .d--mobile {
    display: flex;
  }

  .d--page-base {
    flex-direction: column;
  }

  .d--page-top {
    padding-bottom: 72px;
  }

  .d--page-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .d--page-header-mobile {
    justify-content: space-between;
    width: 100%;
  }

  .d--header-logo {
    width: 22.5vw;
    margin-right: 24px;
  }

  .d--header-title {
    margin: auto;
    width: 25vw;
  }

  .d--header-subtitle {
    margin: auto;
    width: 22.5vw;
  }

  .d--header-search {
    width: 100%;
    margin-top: 24px;
  }

  .d--title-container {
    margin-top: 12px;
  }

  .d--subtitle {
    font-size: 16px;
  }

  .d--caption {
    font-size: 14px;
    width: 60vw;
  }

  .d--grid {
    margin: 12px auto 24px auto;
  }

  .d--card--title {
    font-size: 18px;
  }

  .d--card--body {
    font-size: 16px;
  }
}
