/* Duplicate of t--flex-row */
/* But modified for mobile */
.t--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.t--view-buttons {
  display: flex;
  flex-direction: row;
}

.t--view-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 12px 18px;
  border: 1.5px solid #000;
  cursor: pointer;
}

.t--view-button--text {
  width: 100%;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.t--view-button--icon {
  margin: -4px auto auto 8px;
  width: 24px;
  height: 24px;
}

.t--flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.t--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffff;
  padding: 24px 0px 0px 0px;

  box-sizing: border-box;
}

.t--card-completed {
  border: 3px solid #000;
}

.t--card--icon {
  margin-left: 24px;

  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #ececec;
}

.t--card--title {
  margin: 0px 24px;

  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.t--card--body {
  margin: 0px 24px;

  font-size: 14px;
  line-height: 24px;
}

.t--card--point-tag {
  margin: 0px 0px 0px 24px;
  width: 64px;
}

.t--card--completed {
  width: 100%;
  height: 48px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 16px 18px;
  background: #000;

  box-sizing: border-box;
}

.t--card--completed--title {
  margin: auto auto auto 0px;

  font-weight: 700;
  font-size: 11px;
  color: #fff;
}

.t--card--completed--caption {
  margin: auto 0px auto;

  font-weight: 400;
  font-size: 11px;
  color: #fff;
}

.t--card--progress-bar {
  display: flex;
  flex-direction: column;

  height: 48px;
  justify-content: flex-start;

  padding: 0px 24px 0px 24px;
}

.t--card--progress-bar--object {
  margin-top: 4px;

  width: 100%;
  height: 4px;
  background: #c4c4c4;
}

.t--card--progress-bar--object-filled {
  position: absolute;

  height: 4px;
  background: #000;
}

.t--card--progress-bar--text {
  font-weight: 700;
  font-size: 11px;
  color: #000;
}

/* Mobile Phone CSS */
@media screen and (max-width: 480px) {
  .t--header {
    flex-direction: column;
  }

  .t--view-buttons {
    margin-top: 12px;
  }
}
