.m--grid {
  margin: 36px auto 36px auto;
  width: 100%;
}

.m--card {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  padding: 24px 24px 48px 24px;

  box-sizing: border-box;
}

.m--card--row-container {
  margin-bottom: 30px;

  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.m--card--row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.m--card--title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.m--card--field {
  width: 33%;
  font-size: 14px;
}

.m--card--value {
  margin-top: -10px;

  font-weight: 700;
  font-size: 48px;
  text-align: right;
}

.m--card--text {
  font-size: 14px;
  line-height: 24px;
}

.m--card--fraction {
  font-weight: 400;
  font-size: 48px;
}

.m--card--divider {
  width: 100%;
  height: 1px;

  background: #c4c4c4;
}
