.r--card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #ffffff;
  padding: 36px 24px;

  box-sizing: border-box;
}

.r--page-base {
  width: 80vw;
  margin: 48px auto 72px auto;

  display: flex;
  flex-direction: column;
}

.r--grid {
  margin: 36px auto 36px auto;
  width: 100%;
}

.r--card--icon {
  margin-left: 48px;
  margin-right: 48px;

  width: 50px;
}

.r--card--title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.r--card--body {
  margin-top: 18px;

  font-size: 14px;
  line-height: 24px;
}

.r--card--text-container {
  display: flex;
  flex-direction: column;

  width: 60%;
}

.r--card--button-container {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: row;
}

.r--card--icon-text-container {
  display: flex;
  flex-direction: row;
}

.r--card--point-tag {
  margin: auto;

  background: #e5e5e5;
  height: 20px;
  line-height: 20px;
  min-width: 72px;
  border-radius: 20px;

  padding: 8px 16px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.r--card--point-tag-completed {
  background: #000000;
  color: #fff;
}

/* Mobile Phone CSS */
@media screen and (max-width: 768px) {
  .r--card {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .r--card--icon {
    margin: 0;
  }

  .r--card--text-container {
    margin-top: 24px;
    width: 100%;
  }

  .r--card--button-container {
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .r--card--icon-text-container {
    flex-direction: column;
  }
}
